!!!
%html{ 'ng-app': 'letsDoIt' }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title LetsDoIt
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ 'ng-cloak': 'ng-cloak' }

    %header
      .container-fluid
        .row
          .head.navbar.navbar-inverse.navbar-static-top
            .container-fluid
              .row{'ng-controller':'NavController'}
                .navbar-header.col-lg-7.col-lg-offset-1.col-md-6.col-md-offset-1.col-sm-offset-1
                  %button.navbar-toggle{ 'data-target': '#drop', 'data-toggle': 'collapse', type: 'button'}
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                  %p#logo.col-xs-2 LetsDoIt
                  %ul.nav.navbar-nav{'ng-show':'signedIn'}
                    %li
                      %img{'alt':'{{user.first_name}}', 'ng-src':'{{user.social_avatar}}'}
                    %li
                      %a#names{'ui-sref': 'profile({id:1})'} {{user.first_name}} {{user.last_name}}
                    %li
                      %a{'title': 'Friends'}
                        %i.fa.fa-users
                  %p.choose.choose_xs.visible-xs.col-xs-7
                    = image_tag('United-Kingdom.png', class: 'lang', alt: 'United-Kingdom')
                    = image_tag('ukraine.png', class: 'lang', alt: 'Ukraine')
                .collapse.navbar-collapse.col-lg-offset-10.col-md-offset-9.col-sm-offset-8.hidden-xs
                  %ul.nav.navbar-nav
                    %li.head_li.choose
                      = image_tag('United-Kingdom.png', class: 'lang', alt: 'United-Kingdom')
                      = image_tag('ukraine.png', class: 'lang', alt: 'Ukraine')
                    %li{'ng-show':'signedIn'}
                      %a{'ng-click':'logout()'} Log Out

                / Меню при розширенi телефона
                #drop.collapse.navbar-collapse.hidden-sm.hidden-md.hidden-lg
                  %ul.nav.navbar-nav.hidden-sm.hidden-md.hidden-lg
    %section{}
      %ui-view
      %aside.col-sm-4
        %div{'ui-view':'categories'}
        %div{'ui-view':'groups'}
      %section.col-sm-8
        %div{'ui-view':'tasks'}

